body {
    background-image: url("images/philadelphia-skyline1.jpg");
    background-repeat: no-repeat;
}

li {
    font-size: 24px;
    font-family: fantasy;
    display: inline;
    padding: 20px;
    margin: auto;
    align-items: center;
}

h1 {
    font-family: fantasy;
    text-align: center;
    background-color: dodgerblue;
    vertical-align: middle;
    padding: 2px;
    opacity: 0.75;
}

p {
    font-family: fantasy;
    font-size: 18px;
    text-align: right;
}

#header {
    height: 75px;
    width: 100%;
    float: left;
    background-color: darkblue;
    opacity: 0.75;
}

#navigation {
    height: 75px;
    width: 100%;
    float: left;
    background-color: white;
    opacity: 0.7;
}

#profile_photo {
    display: inline-block;
    float: left;
    margin: 10%;
    width: 250px;
    height: 300px;
    border: 1px solid white;
    border-radius: 100%;
}

.contact li {
    font-size: 18px;
    font-family: fantasy;
    display: block;
    padding: 10px;
    text-align: center;
}

.col_left {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    box-sizing: border-box;
    background-clip: padding-box !important;
}

.paragraphs {
    background-color: white;
    opacity: 0.75;
    float: right;
    height: 300px;
    width: 50%;
}
